@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #fbfbfb94;
  --navbar-height: 8rem;
}

body {
  background-color: var(--primary-bg);
  min-height: 100vh;
}

.page-container {
  margin-top: var(--navbar-height);
  min-height: calc(100vh - var(--navbar-height));
  padding: 1rem;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
} 

/* Hero Image Styles */
.hero-image {
  align-items: center;
  margin-top: -70px; /* Space between buttons and image */
}

.hero-image img {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}